{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title">About YONPAGO</div>
                <div class="section_subtitle">Yonsei + Papago</div>
            </div>
        </div>
        <div class="row testimonials_row">
            <div class="owl-item">
                <div class="recent_item">
                    <div class="recent_item_inner">
                        <div class="recent_item_image">
                            <div class="tag_offer property_tag"><a href="#"></a></div>
                        </div>
                        <div class="recent_item_body text">>
                            <div class="testimonial_title">We are Yonsei Education major students working on a project where foreigners in Yonsei could get help with Korean language problems.<br> We are happy to give you any help without fee.
                                <br><br>Any questions regarding 
                                <br>-Daily expressions in Korean in everyday life 
                                <br>-Grammar questions 
                                <br>-Academic essay expression 
                                <br> are welcome here. <br>For your convenience, join "OPEN KAKAO" above to get help at anywhere anytime.
                                <br>(Long essay corrections are recommended to be posted on website please)
                                <br> You may also learn and practice daily expressions additionally in open chatting room via Kakaotalk :)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title">HOW TO USE</div>
                <div class="section_subtitle">YONPAGO is a team of 'Theory of Distance Education', one of the YONSEI courses</div>
            </div>
        </div>
        <div class="row testimonials_row">
            
            <!-- Testimonial Item -->
            <div class="col-lg-4 testimonial_col">
                <div class="testimonial">
                    <div class="testimonial_title"> 1. Join Open kakaoTalk room </div>
                    <div class="testimonial_text"> https://open.kakao.com/o/g8kTm1jb </div>
                    <div class="testimonial_author_image"></div>
                    <div class="rating_r rating_r_5 testimonial_rating"><i></i><i></i><i></i><i></i><i></i></div>
                </div>
            </div>

            <!-- Testimonial Item -->
            <div class="col-lg-4 testimonial_col">
                <div class="testimonial">
                    <div class="testimonial_title">2. Sign up & Log in</div>
                    <div class="testimonial_text">Please look at the nav-bar above.</div>
                    <div class="testimonial_author_image"></div>
                    <div class="rating_r rating_r_5 testimonial_rating"><i></i><i></i><i></i><i></i><i></i></div>
                </div>
            </div>

            <!-- Testimonial Item -->
            <div class="col-lg-4 testimonial_col">
                <div class="testimonial">
                    <div class="testimonial_title">3. Posting your question </div>
                    <div class="testimonial_text">Ask native speakers directly by posting your question</div>
                    <div class="testimonial_author_image">
                    </div>
                    <div class="rating_r rating_r_5 testimonial_rating"><i></i><i></i><i></i><i></i><i></i></div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
