{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}	
<br><br>
  <div class="button recent_button"><a href="{% url 'alognew' %}">ADD QUESTION</a></div>
<br><br>
{% for alog in aosts %}
  <br>
  <div class="card">
      <div class="card-body">
          <h5 class="card-title">{{alog.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{alog.pub_date}}</h6>
          <p class="card-text">{{alog.summary}}</p>
          <a href="{% url 'alogdetail' alog.id %}" class="card-link">...more</a>
      </div>
  </div>
{%endfor%}

<div clss="container mt5">
  {%if aosts.has_previous%}
  <a href="?page=1">First</a>
  <a href="?page={{aosts.previous_page_number}}">Previous</a>
  {%endif%}
  <br>
  <br>
  <br>

  {%if aosts.has_next%}
  <a href="?page={{aosts.next_page_number}}">Next</a>
  {%endif%}
  <span>{{aosts.number}}</span>
  <span>of</span>
  <span>{{aosts.paginator.num_pages}}</span>
  {%if aosts.has_next%}
  <a href="?page={{aosts.paginator.num_pages}}">Last</a>
  {%endif%}
{% endblock %}