{% extends 'blog/base.html' %}

{% block content %}	
<br>
<br>
<div class="container jumbotron">
    <h1>{{ alog.title }}</h1>
    <p>{{ alog.pub_date }}</p>
    <p>{{ alog.body }}</p>
    <a href="{% url 'alog' %}">return</a>
</div>

<br>
<br>

<div class = "align-right card">
    <a class="btn" href = "{% url 'alogcomment_new' alog.id %}">댓글달기</button>
       
    <ul>
            {%for comment in alog.comments.all %}
                <li> 
                {{comment.text}}
                <small>by {{comment.author}}, {{comment.created_at}}</small>
                </li>
            {% empty %}
                <p>아직 작성된 댓글이 없습니다.</p>
            {% endfor %}
            
    </ul>
</div>

{% endblock %}