{% extends 'blog/base.html' %}
{% load static %}

{% block content %}	
<head><meta charset="utf-8"></head>
	<!-- Menu -->

	<div class="menu trans_500">
		<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
			<div class="menu_close_container"><div class="menu_close"></div></div>
			<div class="logo menu_logo">
				<a href="#">
					<div class="logo_container d-flex flex-row align-items-start justify-content-start">
						<div class="logo_image"><div><img src="images/logo.png" alt=""></div></div>
					</div>
				</a>
			</div>
			<ul>
				<li class="menu_item"><a href="index.html">Home</a></li>
				<li class="menu_item"><a href="about.html">About us</a></li>
				<li class="menu_item"><a href="properties.html">My Page</a></li>
				<li class="menu_item"><a href="news.html">Q&A</a></li>
				<li class="menu_item"><a href="contact.html">Contact</a></li>
			</ul>
		</div>
		<div class="menu_phone"><span>call us: </span>652 345 3222 11</div>
	</div>
	
	<!-- Recent -->
	{% if user.is_authenticated %}		
	<br><br><br><br>
	<div class="button recent_button"><a href="https://open.kakao.com/o/g8kTm1jb ">Open kakao</a></div>
	<br>			
	<div class="recent">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title">SERVICE</div>
					<div class="section_subtitle">please give us any question </div>
				</div>
			</div>
							
							<!-- Slide -->
							<div class="owl-item">
								<div class="recent_item">
									<div class="recent_item_inner">
										<div class="recent_item_image">
											<div class="tag_featured property_tag"><a href="#"></a></div>
										</div>
										<div class="recent_item_body text-center">
											<div class="recent_item_location"></div>
											<div class="recent_item_title"><a href="{% url 'blog' %}">Correction</a></div>
											<div class="recent_item_price">move on</div>
									</div>
								</div>
							</div>

							<!-- Slide -->
							<div class="owl-item">
								<div class="recent_item">
									<div class="recent_item_inner">
										<div class="recent_item_image">
											<div class="tag_offer property_tag"><a href="#"></a></div>
										</div>
										<div class="recent_item_body text-center">
											<div class="recent_item_location"></div>
											<div class="recent_item_title"><a href="{% url 'alog' %}">Grammar</a></div>
											<div class="recent_item_price">move on</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Slide -->
							<div class="owl-item">
								<div class="recent_item">
									<div class="recent_item_inner">
										<div class="recent_item_image">
											<div class="tag_featured property_tag"><a href="#"></a></div>
										</div>
										<div class="recent_item_body text-center">
											<div class="recent_item_location"></div>
											<div class="recent_item_title"><a href="{% url 'clog' %}">Daily Expression</a></div>
											<div class="recent_item_price">move on</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Testimonials -->
	{% else %}

	<div class="testimonials">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title">About YONPAGO</div>
					<div class="section_subtitle">Yonsei + Papago</div>
				</div>
			</div>
			<div class="row testimonials_row">
				<div class="owl-item">
					<div class="recent_item">
						<div class="recent_item_inner">
							<div class="recent_item_image">
								<div class="tag_offer property_tag"><a href="#"></a></div>
							</div>
							<div class="recent_item_body text">>
								<div class="testimonial_title">We are Yonsei Education major students working on a project where foreigners in Yonsei could get help with Korean language problems.<br> We are happy to give you any help without fee.
									<br><br>Any questions regarding 
									<br>-Daily expressions in Korean in everyday life 
									<br>-Grammar questions 
									<br>-Academic essay expression 
									<br> are welcome here. <br><br>For your convenience, join "OPEN KAKAO" above to get help at anywhere anytime.
									<br>(Long essay corrections are recommended to be posted on website please)
									<br> You may also learn and practice daily expressions additionally in open chatting room via Kakaotalk :)
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="testimonials">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title">HOW TO USE</div>
					<div class="section_subtitle">YONPAGO is a team of 'Theory of Distance Education', one of the YONSEI courses</div>
				</div>
			</div>
			<div class="row testimonials_row">
				
				<!-- Testimonial Item -->
				<div class="col-lg-4 testimonial_col">
					<div class="testimonial">
						<div class="testimonial_title"> 1. Join Open kakaoTalk room </div>
						<div class="testimonial_text"> https://open.kakao.com/o/g8kTm1jb </div>
						<div class="testimonial_author_image"></div>
						<div class="rating_r rating_r_5 testimonial_rating"><i></i><i></i><i></i><i></i><i></i></div>
					</div>
				</div>

				<!-- Testimonial Item -->
				<div class="col-lg-4 testimonial_col">
					<div class="testimonial">
						<div class="testimonial_title">2. Sign up & Log in</div>
						<div class="testimonial_text">Please look at the nav-bar above.</div>
						<div class="testimonial_author_image"></div>
						<div class="rating_r rating_r_5 testimonial_rating"><i></i><i></i><i></i><i></i><i></i></div>
					</div>
				</div>

				<!-- Testimonial Item -->
				<div class="col-lg-4 testimonial_col">
					<div class="testimonial">
						<div class="testimonial_title">3. Posting your question </div>
						<div class="testimonial_text">Ask native speakers directly by posting your question</div>
						<div class="testimonial_author_image">
						</div>
						<div class="rating_r rating_r_5 testimonial_rating"><i></i><i></i><i></i><i></i><i></i></div>
					</div>
				</div>

			</div>
		</div>
	</div>
	
	<div class="button recent_button"><a href="{% url 'signup' %}">Sign Up</a></div><div class="button recent_button"><a href="{% url 'login' %}">Log In</a></div><div class="button recent_button"><a href="https://open.kakao.com/o/g8kTm1jb ">Open kakao</a></div>
	<div class="button recent_button"><a href="{% url 'alog' %}">Grammar</a></div>
	<div class="button recent_button"><a href="{% url 'clog' %}">Daily Expression</a></div>

	{% endif %}
	<!-- Newsletter -->

	<div class="newsletter">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/newsletter.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter_content d-flex flex-lg-row flex-column align-items-start justify-content-start">
						<div class="newsletter_title_container">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}