{% extends 'account/base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}
<br>
<br><br>
<br>
<div class="center container">
<h1>Login</h1>

<form method="POST" action="{% url 'login'%}">

    {% csrf_token %}
    Username:
    <br>
    <input name="username" type="text" value="">
    <br>
    Password:
    <br>
    <input name="password" type="password" value="">
    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="Login">
</form>
<br>
<br><br>
<br>
</div>
{% endblock %}